In [43]:
import pandas as pd
import numpy as np
import openpyxl
import os
import glob

In [44]:
dengue_dfs = []

dir = "../../Data/Processed Data/Dhaka Hospitals Dataset"
filenames = []

for file in os.listdir(dir):
    if file.endswith(".xlsx"):
        dengue_dfs.append(pd.read_excel(os.path.join(dir, file)))
        filenames.append(file)

len(dengue_dfs)

54

In [45]:
# print the shape of the dataframes which is not (720,2)
for df in dengue_dfs:
    if df.shape != (720, 2):
        print(df.shape)

In [46]:
dhaka_weather_file =  "../../Data/Processed Data/Weather Dataset/Dhaka.csv"

dhaka_weather = pd.read_csv(dhaka_weather_file)

dhaka_weather.head()

       DATE  T2MDEW    T2M   RH2M  WS10M
0  9/1/2019   27.05  29.83  85.75   1.33
1  9/2/2019   26.58  28.70  88.69   3.20
2  9/3/2019   26.75  28.62  89.88   4.31
3  9/4/2019   26.90  28.28  92.31   3.69
4  9/5/2019   26.62  28.19  91.31   4.05

In [47]:
#convert the DATE column format from dd/mm/yyyy to yyyy/mm/dd
dhaka_weather['DATE'] = pd.to_datetime(dhaka_weather['DATE'], format='mixed').dt.strftime('%Y/%m/%d')

In [48]:
dengue_dfs[0]['Date']

0      2019/09/01
1      2019/09/02
2      2019/09/03
3      2019/09/04
4      2019/09/05
          ...
715    2023/12/22
716    2023/12/23
717    2023/12/24
718    2023/12/25
719    2023/12/26
Name: Date, Length: 720, dtype: object

In [49]:
# how many date are different in the two datasets
len(set(dengue_dfs[0]['Date']) - set(dhaka_weather['DATE']))

0

In [50]:
# for each dataframe of dengue_dfs, if the 'DATE' column of dhaka_weather is in the 'Date' column of the dataframe, merge the two dataframes
merged_dfs = []

for df in dengue_dfs:
    df = pd.merge(df, dhaka_weather, left_on='Date', right_on='DATE')
    print(df.shape)
    merged_dfs.append(df)

(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)
(720, 7)

In [51]:
#remove the 'DATE' column from the merged dataframes
for df in merged_dfs:
    df.drop(columns='DATE', inplace=True)

merged_dfs[0].head()

         Date  Affected  T2MDEW    T2M   RH2M  WS10M
0  2019/09/01         0   27.05  29.83  85.75   1.33
1  2019/09/02         0   26.58  28.70  88.69   3.20
2  2019/09/03         0   26.75  28.62  89.88   4.31
3  2019/09/04         0   26.90  28.28  92.31   3.69
4  2019/09/05         0   26.62  28.19  91.31   4.05

In [52]:
dir = "../../Data/Processed Data/Dhaka hospital weather combined"

# save the merged dataframes to excel files in the directory with exactly the same name as the original files
for i, df in enumerate(merged_dfs):
    df.to_excel(os.path.join(dir, filenames[i]), index=False)
    print(filenames[i], "saved")

250 shojja.xlsx saved
31 shojja.xlsx saved
ad-din.xlsx saved
aichi.xlsx saved
Al manar.xlsx saved
amz hospital.xlsx saved
Anowar khan.xlsx saved
Apollo.xlsx saved
azgor ali.xlsx saved
Bangladesh Medical College Hospital.xlsx saved
BD Specialized hospital.xlsx saved
BGB Hospital.xlsx saved
BIRDEM.xlsx saved
brb hospital.xlsx saved
BSSMU.xlsx saved
Comfort Nursing.xlsx saved
Dedicated Covid-19 Hospital.xlsx saved
Delta medical.xlsx saved
Dhaka central.xlsx saved
Dhaka healthcare.xlsx saved
Dhaka Mahanagar Medical College.xlsx saved
Dhaka Mahanagar Shishu Hospital.xlsx saved
Dhaka Shishu Hospital.xlsx saved
dmd central.xlsx saved
Enam medical.xlsx saved
Exim bank.xlsx saved
farabi general.xlsx saved
Govt. Kormochari Hospital.xlsx saved
Green Life Hospital.xlsx saved
h&h.xlsx saved
hfrc.xlsx saved
High Care Hospital.xlsx saved
ibn sina.xlsx saved
islami bank.xlsx saved
Japan BD hospital.xlsx saved
Life & care hospital.xlsx saved
lstm_dmc.xlsx saved
Medical college for women.xlsx saved
Metropoliton medical.xlsx saved
monowara hospital.xlsx saved
police hospital.xlsx saved
popular medical.xlsx saved
Sajeda hospital.xlsx saved
salauddin hospital.xlsx saved
Shomkramok Byadhi Hospital.xlsx saved
Shommilito Shamorik Hospital,Savar.xlsx saved
Shommilito Shamorik Hospital.xlsx saved
shomorita.xlsx saved
Square.xlsx saved
ssmc.xlsx saved
united hospital.xlsx saved
universal.xlsx saved
Uttara adhunik.xlsx saved
Uttara crescent.xlsx saved