In [1]:
import pandas as pd
import numpy as np
import openpyxl
import os
import glob

In [72]:
# dhaka_weather_file =  "../../Data/Processed Data/Weather Dataset/Dhaka.csv"

# dhaka_weather = pd.read_csv(dhaka_weather_file)

# #convert the DATE column format from dd/mm/yyyy to yyyy/mm/dd
# dhaka_weather['DATE'] = pd.to_datetime(dhaka_weather['DATE'], format='mixed').dt.strftime('%Y/%m/%d')

# #save the updated data to the same file
# dhaka_weather.to_csv(dhaka_weather_file, index=False)

In [3]:
dengue_dfs = []

dir = "../../Data/Processed Data/standalone datasets/Districts Dataset"
district_filenames = []

for file in os.listdir(dir):
    if file.endswith(".xlsx"):
        dengue_dfs.append(pd.read_excel(os.path.join(dir, file)))
        # save removing the extension
        district_filenames.append(file[:-5])

In [5]:
for filename in district_filenames:
    print(filename)

Bagerhat
Bandarban
Barguna
Barisal
Bhola
Bogra
Brahmanbaria
Chadpur
Chapai_Nawabganj
Chittagong
Chuadanga
Coxsbazar
Cumilla
Dhaka
Dinajpur
Faridpur
Feni
Gaibandha
Gazipur
Gopalganj
Hobigonj
Jamalpur
Jaypurhat
Jessore
Jhalkathi
Jhenaidah
Khagrachori
Khulna
Kishoregonj
Kurigram
Kushtia
Lalmonirhat
Laxmipur
Madaripur
Magura
Manikganj
Maulvibazar
Meherpur
Munsiganj
Mymensingh
Naogaon
Narail
Naraynganj
Narsingdi
Natore
Netrokona
Nilphamari
Noakhali
Pabna
Panchagarh
Patuakhali
Pirojpur
Rajbari
Rajshahi
Rangamati
Rangpur
Satkhira
Shariatpur
Sherpur
Sirajgonj
Sunamganj
Sylhet
Tangail
Thakurgaon

In [74]:
weather_dfs = []

dir = "../../Data/Processed Data/Weather Dataset"
weather_filenames = []

for file in os.listdir(dir):
    if file.endswith(".csv"):
        weather_dfs.append(pd.read_csv(os.path.join(dir, file)))
        # save removing the extension
        weather_filenames.append(file[:-4])

In [75]:
# see how many filenames are different between the two lists removing the extension
print(len(set(district_filenames) - set(weather_filenames)))

0

In [76]:
# print the filenames that are different in separate lines
for filename in set(district_filenames) - set(weather_filenames):
    print(filename)

In [77]:
dengue_dfs[0].shape

(565, 2)

In [78]:
weather_dfs[0].shape

(720, 5)

In [79]:
weather_dfs[0].head()

         DATE  T2MDEW    T2M   RH2M  WS10M
0  2019/09/01   26.94  29.12  88.44   1.85
1  2019/09/02   26.30  28.57  88.00   3.16
2  2019/09/03   26.85  28.37  91.62   4.07
3  2019/09/04   26.94  28.35  92.12   3.87
4  2019/09/05   26.65  28.06  92.06   3.91

In [80]:
# how many dates are in both datasets: 'Date' column of dengue_dfs[0] and 'DATE' column of weather_dfs[0]
len(set(dengue_dfs[0]['Date']) & set(weather_dfs[0]['DATE']))

553

In [81]:
# save these common dates
common_dates = list(set(dengue_dfs[0]['Date']) & set(weather_dfs[0]['DATE']))

In [82]:
# now merge dengue_dfs and weather_dfs in this way
# for each district in dengue_dfs, merge the corresponding district in weather_dfs
# only keep the rows with the common dates
# save the merged dataframes in a list
# keep only one date column 
# final shape of each dataframe should be (553, 7)

merged_dfs = []

for i in range(len(dengue_dfs)):
    merged_df = pd.merge(dengue_dfs[i], weather_dfs[i], how='inner', left_on='Date', right_on='DATE')
    merged_df.drop('DATE', axis=1, inplace=True)
    merged_dfs.append(merged_df)

# check the shape of the first dataframe
merged_dfs[0].shape

(553, 6)

In [83]:
# save the merged dataframes in separate excel files
dir = "../../Data/Processed Data/Districts weather combined"

for i in range(len(merged_dfs)):
    merged_dfs[i].to_excel(os.path.join(dir, district_filenames[i] + ".xlsx"), index=False)
    print("Saved", district_filenames[i] + ".xlsx")

Saved Bagerhat.xlsx
Saved Bandarban.xlsx
Saved Barguna.xlsx
Saved Barisal.xlsx
Saved Bhola.xlsx
Saved Bogra.xlsx
Saved Brahmanbaria.xlsx
Saved Chadpur.xlsx
Saved Chapai_Nawabganj.xlsx
Saved Chittagong.xlsx
Saved Chuadanga.xlsx
Saved Coxsbazar.xlsx
Saved Cumilla.xlsx
Saved Dhaka.xlsx
Saved Dinajpur.xlsx
Saved Faridpur.xlsx
Saved Feni.xlsx
Saved Gaibandha.xlsx
Saved Gazipur.xlsx
Saved Gopalganj.xlsx
Saved Hobigonj.xlsx
Saved Jamalpur.xlsx
Saved Jaypurhat.xlsx
Saved Jessore.xlsx
Saved Jhalkathi.xlsx
Saved Jhenaidah.xlsx
Saved Khagrachori.xlsx
Saved Khulna.xlsx
Saved Kishoregonj.xlsx
Saved Kurigram.xlsx
Saved Kushtia.xlsx
Saved Lalmonirhat.xlsx
Saved Laxmipur.xlsx
Saved Madaripur.xlsx
Saved Magura.xlsx
Saved Manikganj.xlsx
Saved Maulvibazar.xlsx
Saved Meherpur.xlsx
Saved Munsiganj.xlsx
Saved Mymensingh.xlsx
Saved Naogaon.xlsx
Saved Narail.xlsx
Saved Naraynganj.xlsx
Saved Narsingdi.xlsx
Saved Natore.xlsx
Saved Netrokona.xlsx
Saved Nilphamari.xlsx
Saved Noakhali.xlsx
Saved Pabna.xlsx
Saved Panchagarh.xlsx
Saved Patuakhali.xlsx
Saved Pirojpur.xlsx
Saved Rajbari.xlsx
Saved Rajshahi.xlsx
Saved Rangamati.xlsx
Saved Rangpur.xlsx
Saved Satkhira.xlsx
Saved Shariatpur.xlsx
Saved Sherpur.xlsx
Saved Sirajgonj.xlsx
Saved Sunamganj.xlsx
Saved Sylhet.xlsx
Saved Tangail.xlsx
Saved Thakurgaon.xlsx